.site-wrap {
	display: flex;
	width: 100%;
}

.content-wrap {
	margin: 0 auto;
}

.title-area {
	margin: 2em 0em 1em 0em;
	font-size: 6em;
	text-align: center;
	font-family: 'Megrim', cursive;
	text-transform: uppercase;
}

.tagline {
	text-align: center;
}

.show-title {
	font-size: 3em;
	font-family: 'Allerta Stencil', sans-serif;
}

li {
  display: inline;
}
